version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - kafka-network

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${HOST_IP}:9092,INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka-network

  sensor-simulator:
    build: ../backend
    environment:
      - KAFKA_BROKER=kafka:9092
      - HOST_IP=${HOST_IP}
    depends_on:
      - kafka
    command: >
      sh -c "cd /app && 
             python -c 'from src.data_simulator.sensor_simulator import SensorSimulator; 
                       simulator = SensorSimulator(); 
                       simulator.start_streaming()'"
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge